* {
    margin: 0;
    padding: 0;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --icterine: #f0ec57ff;
    --celestial-blue: #1e91d6ff;
    --oxford-blue: #001d4aff;
    --indigo-dye: #27476eff;
}

body{
    background-color: var(--celestial-blue);
    color: white;
}

header {
    padding: 40px;
    font-size: 24px;
    background-color: var(--oxford-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form input {
    font-size: inherit;
    font-family: inherit;
    border: none;
    padding: 5px 10px;
}

form input[type='submit'] {
    background-color: var(--icterine);
    cursor: pointer;
}

#error {
    color: red;
    font-size: 20px;
    text-align: start;
}

main {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 20px 40px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 500;
}

.temps {
    display: flex;
    align-items: center;
    gap: 20px;
}

.temp {
    font-size: 10rem;
    font-weight: 400;
}

.temp::after{
    content: '\2109';
}

.feelslike::before{
    content: 'Feels Like ';
}

.feelslike::after{
    content: '\2109';
}

.humidity::before{
    content: 'Humidity ';
}

.humidity::after{
    content: '\0025';
}

.windspeed::before{
    content: 'Wind ';
}

.windspeed::after{
    content: ' MPM';
}