* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --icterine: #f0ec57ff;
    --smoky-black: #0b0a07ff;
    --reseda-green: #748067ff;
    --celestial-blue: #1e91d6ff;
    --columbia-blue: #bfd7eaff;
}

header {
    padding: 40px;
    font-size: 24px;
    background-color: var(--celestial-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form input {
    font-size: inherit;
    border: none;
    padding: 5px 10px;
}

form input[type='submit'] {
    background-color: var(--icterine);
    cursor: pointer;
}

#error {
    color: red;
    font-size: 20px;
    text-align: start;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: var(--columbia-blue);
    font-size: inherit;
    cursor: pointer;
}

main {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 20px 40px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 500;
}

.temps {
    display: flex;
    align-items: center;
    gap: 20px;
}

.temp {
    font-size: 10rem;
    font-weight: 400;
}

.temp::after{
    content: '\2109';
}

.feelslike::before{
    content: 'Feels Like ';
}

.feelslike::after{
    content: '\2109';
}

.humidity::before{
    content: 'Humidity ';
}

.humidity::after{
    content: '\0025';
}

.windspeed::before{
    content: 'Wind ';
}

.windspeed::after{
    content: ' MPM';
}